.input-field input {
  &[type="checkbox"]:not(:checked),
  &[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  &[type="checkbox"]:not(:checked) + label,
  &[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  &[type="checkbox"]:not(:checked) + label:before,
  &[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 17px;
    height: 17px; /* dim. de la case */
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px; /* angles arrondis */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
    transition: background-color 0.3s ease-in-out;
  }

  &[type="checkbox"]:checked + label:before {
    border: 1px solid #27AA11;
    background: #3AC224;
  }

  /* Aspect général de la coche */
  &[type="checkbox"]:not(:checked) + label:after,
  &[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: #FFFFFF;
    transition: all .3s ease-in-out; /* on prévoit une animation */
  }

  /* Aspect si "pas cochée" */
  &[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  /* Aspect si "cochée" */
  &[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* aspect désactivée */
  &[type="checkbox"]:disabled:not(:checked) + label:before,
  &[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  /* styles de la coche (si cochée/désactivée) */
  &[type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  /* on style aussi le label quand désactivé */
  &[type="checkbox"]:disabled + label {
    color: $label-picture;
  }

  /* aspect au focus de l'élément */
  &[type="checkbox"]:checked:focus + label:before,
  &[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid $menu-item;
  }
}