$menu-item:#00AEEF;
$profile-bar:#68768C;
$logo-hover:#FECF39;
$error-link:#FFA2AD;
$label-topbar:#FFDF6D;
$success-link:#74C7A8;
$label-picture:#DBDBDB;
$success-max:#00797A;
$search-box:#81736A;
$violet:#8781BD;
$mc:#EBEDF1;
$w:#FFFFFF;
$lw:#F5F8FA;
$grischelou:#F8FAFC;
$bgGlobal:#EFF3F6;
$brd-color:#E7E9ED;
$ul-red:#EB4A2E;
$ul-blue:#496B95;
$ul-green:#40C62A;
$ul-yellow:#FAC738;