header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $w;
  display: block;
  z-index: 5000;
  height: $headerHeight;
  * a {
    display: block;
    color: #9DA9BC !important;
    text-decoration: none;
    img {
      display: inline-block;
      max-height: 45px;
    }
  }
  * a:hover {
    color: #000 !important;
  }
  * a:visited {
    color: #9DA9BC !important;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: $headerHeight;
    li {
      margin-left: 20px;
      display: inline-block;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}
