@import "normalize";

@import "colors";

$headerHeight:50px;

$mainPadding:10px;
$mainMargin:10px;

$smallPadding:5px;
$smallMargin:5px;
$brd-rad:3px;


*{
  box-sizing: border-box;
}
html{
  background-color: $mc;
}

@import "usefull";
@import "typo";
@import "input";
@import "button";
@import "anim";
@import "checkbox";
@import "header";
@import "listPost";
@import "flex";
@import "file-input";
@import "login";
@import "image";
@import "ul";
