{% extends "base.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="m-10 p-10 bg-w brd-mc">
        <form action="/api/post/post" method="post" enctype="multipart/form-data" onsubmit="submitCheck()">

            <div class="input-field">
                <label for="title">Title : </label>
                <input class="full" type="text" name="title" id="title">
            </div>

            <div class="input-field">
                <textarea name="content"></textarea>
            </div>

            <div class="input-field">
                <label for="category">Category : </label>
                <input id="category" type="hidden" name="category">

                <select class="searchable" id='custom-headers' multiple='multiple'>
                    {% for category in categories %}
                        <option value='{{ category.id }}'>{{ category.txt }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-field">
                <label class="muted">Image </label>
                <input id="img-user" type="file" name="fileUploaded">
                <label for="img-user" class="flex-1 flex-c flex-m no-p" id="label-img-user">
                    <p class="no-m txt-pretty">Importer une image ...</p>
                </label>
            </div>

            <div class="input-field flex flex-m flex-c">
                <button class="btn blue">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        window.onload = function () {
            tinymce.init({selector: 'textarea'});

            fileInput = document.getElementById("img-user");
            labelFileInput = document.getElementById("label-img-user");
            fileInput.addEventListener("change", function (event) {
                labelFileInput.innerHTML = "<p>Importer une image ...\n" + this.value + "</p>";
            });

            $('.searchable').selectMultiple({
                selectableHeader: "<div class=\"input-field\"><input type='text' class='search-input' autocomplete='off' placeholder='Rechercher une catégorie'></div>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                },
                afterDeselect: function () {
                }
            });
        };

        function submitCheck() {
            document.getElementById("category").value = getSelectValues(document.getElementById("custom-headers"));
            return true;
        }

        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }
    </script>
{% endblock %}