<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> S'incrire | Forum</title>
    <link rel="icon" type="image/png" href="assets/img/icon.png"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

</head>
<body>

<main>
    <form method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Se Connecter">
    </form>
    <a href="/register">S'inscrire</a>
</main>

</body>
</html>
