<header>

    <ul class="md lg">

    </ul>

    <ul class="sm">
        <li>{{user.role}}</li>
        <li><a href="/">Accueil</a></li>
        <li><a href="/disconnect">Se Deconnecter</a></li>
    </ul>

</header>
