<header>
    <div class="flex-2">
        <ul class="flex flex-l flex-m">
            <li class="p-10">
                <a href="/" class="flex flex-m">
                    <img class="img-resp img-50w-50h" src="/assets/img/paper-plane-header.png">
                    <span class="p-10">Accueil</span>
                </a>
            </li>
            {% if user.role == "admin" %}
                <li class="p-10">
                    <a href="/admin">dashboard</a>
                </li>
            {% endif %}
        </ul>
        <ul class="flex flex-r flex-m">
            <li class="p-10">
                <a class="flex flex-c flex-m" href="/profile-{{ user.id }}">
                    <img class="img-profile" src="/{{ user.imgSrc }}">
                    <span class="m-10">{{ user.pseudo }}</span>
                </a>
            </li>
            <li class="p-10"><a href="/disconnect">Se Deconnecter</a></li>
        </ul>
    </div>
</header>
