<header>
    <ul class="flex flex-c flex-m">
        <li><a href="/">Accueil</a></li>
        <li>
            <a class="flex flex-c flex-m" href="#">
                <img class="img-profile" src="/{{ user.imgSrc }}">
                <span class="m-10">{{ user.pseudo }}</span>
            </a>
        </li>
        <li><a href="/disconnect">Se Deconnecter</a></li>

        {% if user.role == "admin" %}
            <li>
                <a href="/admin">dashboard</a>
            </li>
        {% endif %}

    </ul>
</header>
